<h2>
<a href="http://github.com/sclevine/agouti">
    <img src="images/agouti_small.png" class="img-responsive header_logo">
</a>
</h2>

<ul class="nav">
    <li>
        <a href="#getting-agouti">Getting Agouti</a>
    </li>
    <li>
        <a href="#getting-started-writing-your-first-acceptance-test">Your First Acceptance Test</a>
        <ul class="nav">
            <li>
                <a href="#bootstrapping-ginkgo-to-run-agouti-tests">Bootstrapping</a>
            </li>
            <li>
                <a href="#adding-acceptance-tests">Adding Tests</a>
            </li>
            <li>
                <a href="#notes">Notes</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#reference">Reference</a>
    </li>
    <li>
    <a href="#external-webdrivers-and-sauce-labs-support">
        External <code>Connect</code> and <code>SauceLabs</code>
    </a>
    </li>
    <li>
        <a href="#the-agouti-dsl">The Agouti DSL</a>
    </li>
    <li>
        <a href="#using-agouti-with-gomega-and-xunit-tests">With Gomega and XUnit Tests</a>
        <ul class="nav">
            <li>
                <a href="#or-without-dot-imports">Without Dot-Imports</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#using-agouti-by-itself">Using Agouti by Itself</a>
    </li>
</ul>

